.container {
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

.container-div-flex-1,
.container-div-flex-2,
.flex-blackjack-row1,
.flex-blackjack-row2,
.flex-blackjack-row3 {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-blackjack-row1,
.flex-blackjack-row2 {
    background: url('../images/blackjack-table.png') center;
    color: #ffffff
}

.flex-blackjack-row1 div {
    border: 1px solid black;
    flex: 1;
    padding: 10px;
    min-height: 350px;
    text-align: center;
}

.flex-blackjack-row1 img {
    padding: 10px;
    width: 25%;
}